.section {
    margin-bottom: 30px;
    line-height: 1.5;
    box-sizing: border-box;
    font-size: medium;
}

.section--books {
    padding-top: 20px;
}

.section__list--travels {
    list-style-type: upper-roman;
}

.section__image {
    float: right;
    width: clamp(300px, 35vw, 500px);
}