.section {
    margin-bottom: 30px;
    line-height: 1.5;
    box-sizing: border-box;
    font-size: medium;
}

.section--books {
    padding-top: 20px;
}

.section__nextPage--books {
    color: rgb(209, 244, 248);
    background-color: rgb(17, 53, 56);
    text-decoration: none;
    padding: 5px 10px;
}

.section__image--games {
    margin-bottom: 5px;
}

.section__list--travels {
    list-style-type: upper-roman;
}